.hero{
background:url("images/siddeshwar.jpg");
background-size:cover;
color:white;
padding:120px;
text-align:center;
}

.btn{
background:#ff6b6b;
color:white;
padding:10px 20px;
text-decoration:none;
border-radius:5px;
font-size:18px;
}
